.carousel-app-container {
    width: 100%;
    height: 100vh;
  }
  
  .image-container-carousel {
    margin: 10px; 
  }
  
  
  .carousel-images-width04{
    width: 180px;
    height: 180px;
  }

  
